@font-face {
  font-family: 'iconfont'; /* Project id 1477597 */
  src: url('iconfont.eot?t=1642877766994'); /* IE9 */
  src: url('iconfont.eot?t=1642877766994#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('iconfont.woff2?t=1642877766994') format('woff2'),
    url('iconfont.woff?t=1642877766994') format('woff'),
    url('iconfont.ttf?t=1642877766994') format('truetype'),
    url('iconfont.svg?t=1642877766994#iconfont') format('svg');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconchenggong:before {
  content: '\e635';
}

.iconcuowu:before {
  content: '\e64a';
}
